# default build directory
build
fix_typos
code_linter
/.DS_Store
/.vagrant
.directory
*.swp

# created files during build
src/version/version.h

# helper files
/taptest.sh
/run.sh
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
